/* body{
    background-color: #e0e0e0;   
}  */
body{
  background-color: #02512b;   
} 
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .card{
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  .card:hover{
    transform: rotateY(180deg);
  }
   .front{
    backface-visibility: hidden;
  }
  
  .back{
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  
